
<!-- Start: Main content -->
    <div class="content">    
      <div class="container">
        <!-- Start: Product description -->
        <airticle class="article">
          <div class="row bottom-space">
            <div class="span12">
              <div class="page-header">
                <h1>Product <small><%= @product.name %></small></h1>
              </div>
            </div>
            <div class="span12 center-align">
              <%= image_tag @product.foto.url %>            
            </div>
          </div>
          <div class="row">
            <div class="span10 offset1">
              <p>
              <%= @product.description %>
              </p>        
              <div class="span8 offset1">
                <h3>Fetures of <%= @product.name %></h3>
                <ul>
                <% @product.fetures.split("\n").each do |feture| %>
                   <li class="icon-ok"><%= feture %></li>
                  <% end %>
                  </ul>
              <!--   <ul class="features">
                  <li>
                    <i class="icon-ok "></i>24 hrs support
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>
                  <li>
                    <i class="icon-ok "></i>unlimited download
                  </li>                  
                </ul> -->
              </div>                                              
            </div>      
          </div>
          <div class="row">
            <div class="span10 offset1">
              <hr>
              <div class="span3">
                <a class="btn btn-large btn-block" href="#">Buy now</a>
              </div>
              </div>              
            </div>
          </div>
        </airticle>
        <!-- End: Product description -->
      </div>
    </div>
    </div>